html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body{
    color:#2C283E;
}

.navbar {
    display: flex; /* Align items horizontally */
    justify-content: space-between; /* Change to space-between for different alignment */
    align-items: center; /* Center items vertically */
    background-color: transparent;
    height: 5rem; /* Set navbar height */
    z-index: 2;
    width: 100%; /* Full width for the navbar */
} 

.navbar-row-bottom {
    width: 100%; /* Ensure navbars take full width */
}

.navbar-row-top a:hover,
.navbar-row-bottom a:hover {
    color: white; /* Change text color on hover */
}

.navbar-row-bottom ul {
    display: flex; /* Align items horizontally */
    justify-content: space-between; /* Change to adjust alignment */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    list-style-type: none; /* Remove bullet points */
    width: 100%;
    margin-left: 40rem; /* Remove margin to avoid uneven spacing */
    margin-right: 10rem; /* Remove margin to avoid uneven spacing */
}

.navbar-row-bottom li {
    margin: 2rem;
}

/* Adjustments for a uniform item appearance */
.navbar-row-top a, 
.navbar-row-bottom a {
    display: inline-flex; /* Inline flex for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 5vh; /* Circle diameter */
    height: 5vh; /* Circle diameter */
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-family: 'Instrument Serif', serif;
    transition: color 0.3s; /* Transition effects */
}

.navbar-row-top li:nth-last-child(2),
.navbar-row-bottom li:nth-last-child(2),
.navbar-row-top li:first-child,
.navbar-row-bottom li:first-child {
    display: none;
    pointer-events: none; /* Prevent clicking */
}

.author, .section {
    display: none; /* Inline flex for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-size: 2rem; /* Adjust font size if necessary */
    font-family: 'Instrument Serif', serif; /* Use the specified font */
}

/* Hover effect for navbar items */
.navbar-row-bottom a:hover {
    color: white; /* Change text color on hover */
    border-color: transparent; /* Keep border color transparent */
    background-color: transparent;
}

.no-circle{
    width: auto; /* Auto width to avoid circle */
    height: auto; /* Auto height to avoid circle */
    border-radius: 0; /* Ensure no circular border */
    font-size: 2rem;
}

main {
    flex: 1; /* Allow the main section to fill the available space */
    display: block; /* Change to block layout to allow stacking */
    height: 100%;
    width: 100%; /* Ensure main takes up full width */
    background-color: #D36D62; /* Change background if necessary */
    align-content: center;
    z-index: 100;
}

.image-row {
    font-size: 4rem;
    font-family: 'Instrument Serif', serif;
    background-color: #2C283E;
    height: 60vh; /* Height of each row */
    width: 100%; /* Ensure image rows extend across the page */
    display: flex; /* Flexbox for centering content */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    margin-bottom: 20px; /* Add margin to create space between rows */
    overflow: hidden; /* Hide overflowing images */
}

.info-text{
    font-size: 2rem; 
    color:#D36D62;
}

.info h1{
    color:#D36D62;
}

.italic {
    font-family: 'Rhetorik Serif', serif;
    font-style: italic;
    font-size: 12rem;
    line-height: 0.1;
    font-weight: 100;
}

/*LAPTOP*/
@media (min-width:1024px) {
    .navbar{
        width: 100%;
        height: 10%;
    }

    .navbar-row-top ul {
        display: flex; /* Align items horizontally */
        justify-content: space-between; /* Ensure consistent spacing between items */
        padding: 0;
        list-style-type: none; /* Remove bullet points */
        width: 100%; /* Full width for better alignment */
        margin-right: 10.8rem; /* Keep right margin as is */
        margin-left: 8.8rem;
        transform: translateX(1%); /* Shift the entire list 8rem to the left */
    }

    .navbar-row-top li{
        margin: 0 2rem;
    }

    .navbar-row-bottom ul {
        display: flex; /* Align items horizontally */
        justify-content: space-between; /* Ensure consistent spacing between items */
        padding: 0;
        list-style-type: none; /* Remove bullet points */
        width: 100%; /* Full width for better alignment */
        margin-left: 10%; /* Remove excessive left margin */
        margin-right: 13%; /* Keep right margin as is */
        transform: translateX(2.5%); /* Shift the entire list 8rem to the left */
    }
    
    .navbar-row-bottom li {
        margin: 0 2rem;
    }

    .navbar-row-top a, 
    .navbar-row-bottom a {
    display: inline-flex; /* Inline flex for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 5vh; /* Circle diameter */
    height: 5vh; /* Circle diameter */
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-family: 'Instrument Serif', serif;
    transition: color 0.3s; /* Transition effects */
}

.toggle-nav-btn {
    padding-right: 0rem;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pages-navbar {
    position: fixed; /* Ensure it appears above other elements */
    width: 100%; /* Full width */
    height: 10%; /* Set height */
    background-color: rgb(255, 75, 234); /* Set background color */
    z-index: 10; /* Ensure it appears above other elements */
    display: none; /* Initially hidden */
    justify-content: space-between; /* Center items */
    align-items: center; /* Center items */
}

.pages-navbar-top ul, 
.pages-navbar-bottom ul {
    display: flex; /* Align items horizontally */
    justify-content: space-between; /* Center items */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    list-style-type: none; /* Remove bullet points */
    width: 100%;
    margin-left: 10rem;
    margin-right: 10rem;
}

.pages-navbar-top li,
.pages-navbar-bottom li {
    margin: 0 2rem; /* Adjust margin for uniform spacing */
}

.pages-navbar-top a, 
.pages-navbar-bottom a {
    display: inline-flex; /* Make it an inline flex container */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    width: 5vh; /* Circle diameter */
    height: 5vh; /* Circle diameter */
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-family: 'Instrument Serif', serif;
    border: 1px solid #000; /* Set default border */
    border-radius: 50%; /* Make it circular */
    background-color: white; /* Set background color */
    transition: background-color 0.3s, border-color 0.3s; /* Add transitions */
}

.pages-navbar-bottom .no-circle {
    display: inline-flex; /* Remove flex properties */
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    border-radius: 0; /* Remove circular border */
    border: none; /* Remove border */
    background-color: transparent; /* No background color */
    font-size: 2rem; /* Adjust font size if needed */
    padding-right: 1rem;
}

.pages-navbar-bottom li:nth-last-child(2){
    padding-left: 0.8rem;
}
}
